<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'icon/favicon.ico'%}" />

    <title>Edit</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {% comment %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFn$
    {% endcomment %}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">

  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sys:config_home' %}">Configurations</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'sys:comp_list' %}">Components</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sys:proj_list' %}">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sys:vi_list' %}">Visualization</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'license' %}">License</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="my-3">{{ component.name }}</h1>

      <!-- Display an error message if one is provided -->
      <div class="col col-lg-6 col-md-8 col-sm-12 pl-0">
        {% for error in errors %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        {% endfor %}
      </div>

      <!-- Form to edit model elements-->
      <form class="needs-validation" action="{% url 'sys:comp_form' component.id %}" method="post" novalidate>
        {% csrf_token %}
        <h4>Name</h4  >
        <div class="row">
          <div class="col col-lg-6 col-md-8 col-sm-12 mb-3">
            <input type="text" class="form-control" name="name" placeholder="Insert new name here." value="{{ component.name }}" maxlength="255" required>
          </div>
        </div>
        <h4>Description</h4>
        <div class="row">
          <div class="col col-lg-6 col-md-8 col-sm-12 mb-3">
            <textarea type="text" class="form-control" name="description" rows="7" placeholder="Insert the description here." required>{{ component.description }}</textarea>
          </div>
        </div>
        <h4>Size</h4>
        <div class="row">
          <div class="col col-lg-3 col-md-4 col-sm-6 mb-3">
            <input type="number" step="0.1" min="0" class="form-control" name="size" placeholder="Insert the size as float here." value="{{ component.size }}" required>
          </div>
        </div>
        <h4>Parameters</h4>
        {% if component.params %}
          <div class="row">
            <div class="col col-lg-3 col-md-4 col-sm-6">
              <label class="font-weight-bold">Key</label>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6">
              <label class="font-weight-bold">Value</label>
            </div>
          </div>
          {% for key, value in component.get_params.items %}
            <div class="row">
              <div class="col col-lg-3 col-md-4 col-sm-6 mb-3">
                <input type="text" class="form-control" name="param_key-{{forloop.counter0}}" placeholder="Insert parameter key here." value="{{ key }}" maxlength="255">
              </div>
              <div class="col col-lg-3 col-md-4 col-sm-6 mb-3">
                <input type="text" class="form-control" name="param_val-{{forloop.counter0}}" placeholder="Insert parameter value here." value="{{ value }}" maxlength="255">
              </div>
            </div>
          {% endfor %}
          <p><a href="{% url 'sys:comp_add_par' component.id %}">Add Parameter</a></p>
          <div class="row">
            <div class="col col-lg-6 col-md-8 col-sm-12">
              <p class="text-muted">
                <strong>Hints:</strong><br>
                Key is always treated as <code>string</code> type.<br>
                Value can be of either <code>int</code>, <code>float</code> or <code>string</code> type.<br>
                To delete a parameter, delete the content of the key field and click 'Save'
              </p>
            </div>
          </div>
        {% endif %}
        <div class="row px-3">
          <input type="submit" class="btn btn-primary col col-lg-1 col-md-2 col-sm-3 my-3 mr-1" value="Save">
          <a class="btn btn-secondary col col-lg-1 col-md-2 col-sm-3 my-3 ml-1" href="{% url 'sys:comp_detail' component.id %}" role="button">Discard</a>
        </div>
      </form>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">{{ footer | safe }}</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{% static 'js/jquery-slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% comment %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH$
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46j$
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6Zb$
    {% endcomment %}

  </body>
</html>
