/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Home button styling */
.fab {
   width: 140px;
   height: 40px;
   background-color: orange;
   border-radius: 10%;
   box-shadow: 0 6px 10px 0 #666;
   transition: all 0.2s ease-in-out;

   font-size: 20px;
   color: black;
   text-align: center;
   line-height: 40px;

   position: fixed;
   right: 50px;
   top: 70px;
}

.fab:hover {
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.0);
}
